# Editor directories and files
.idea

# Package Manager
node_modules
.pnpm-debug.log*

# Bundle
dist
coverage
packages/w-plus/version.ts

# local env files
*.local


packages/utils/es
packages/utils/lib
packages/theme-chalk/dist